<a href="https://colab.research.google.com/github/citysiva180/machine_learning/blob/main/Complete_Machine_Learing_and_DataScience_BootCamp_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SECTION - 1 : Introduction to Machine Learning
---
In this comprehensive course, we would be going through a n number of machine learning topics and how the ML. algorithm works. There is going to be plenty of hands on and collaboration with fellow engineers to do analytics via machine learning

### What is Machine Learning? 

Machine learning refers to a branch of artificial intelligence (AI) that involves training computer systems to automatically improve their performance on a specific task by using large amounts of data, without being explicitly programmed.

## AI vs Machine Learning vs Data Science 

- **AI** - Meaning Human Intelligence recreated artificially to deliver activities done by humans. 
- **Narrow AI** - Sometimes AI could deliver better than Humans. These are Narrow AI. Narrow AI simply means it does 1 task at a time exceptionally well 
- **General AI** - An AI which could do any task superbly! The ultimate end goal of machine learning is to get to this General AI. General AI Still Does not Exists
- **Machine Learning** - Its Subset of AI and Its an Approach to try and achieve artifical Intelligence through systems that can find patterns in a set of data. The science of getting computer to act without developing programs
- **Deeplearning** - Its one of the technique to implement machine learning
- **Data Science** - Its a science of Analysing Data. It overlaps with Data Science

## Types of Machine Learning

- **Supervised**: Data is already labelled. CSV files and other organized files. Classification is easy with linear regression. A classic example is stock prices. 
- **Unsupervised** : Data which does not have label comes to unsupervised learning. Hence we give attribute points so we are able to distinguish data 
- **Reinforcement Learning:** Its all about teaching machines with trial and error by providing rewards and punishment. These include Neural Networks, Decision Trees, Vector Machines and K-Nearest Neighbours

## Machine Learning Round 2 

**How is Machine Learning different from Regular Algorithm?**

In a Normal Algorithm you give the input, algorithm / steps and output so you get the desired output. Meanwhile in a machine Learning algorithm you give the ideal input and the idea output so the algorithm does the learning and identifies the best way to get the output. This trial and run happens for multiple times until the ideal output is achieve

# SECTION - 2 :Introduction to Machine Learning
---

- Data Collection : Collection of data
- Data Modelling  : Creating a data and passing it to a ML model and traning it 
- Deploymentc     : Deploying the model in a cloud based environment

*Mostly Machine Learning Engineers Work on Data Modelling*




- Step - 1 : Creating a framework 
- Step - 2 : Machine the framework with an ML algorithms 
- Step - 3 : Learn

### The ML framework Used in this ZTM Course

To ensure we are learning deep in machine learning please find the 
detailed steps we should follow to learn / build ML models 

1. **Problem Definition**:  What is the problem and the reason for approaching ML for it? What algorithm should be used to make this problem resolved? These are the kinds of attributes which come in this problem definition

2. **Data** : Data becomes the requirement for machine learning. Now there are different types of data, which could be structured or unstructured. Once we know which data to use, we could proceed with evaluation

3. **Evaluation** : We evaluate if the data is fit for our purpose. We also identify if the data brings the outcome expected for us. 
  
4. **Features** : What is known is considered a feature. For example, in case of predicting heart disease body weight becomes and attribute to decide. This is numerical in nature. Hence it comes numerical feature to evaluate heart disease. Similar to weight, blood pressure and other Numerical features could be used to identify patterns of occurance which will help in predicting values

5. **Modelling** : Based on our problem, we choose the modelling. Modelling directly talks about ML models. In most cases the model is already built and sometimes you get pre-trained ML models which will predict data for you. So the idea is to choose the right model 

6. **Experimentation** : How could we improve this model to deliver better results to us? By experimenting with the ML model we could identify insights which would help us on the longer run!

## Deep diving into these Individual Steps! 

**Remember:** Machine learning is not the solution for everything!

Some important points you need to know about supervised learning 

**Supervised Learning Types**

- Labels help in correct the incorrect output of the algorithm
- This act of correction by itself is called the supervised learning.
- The Main Types of Supervised learning include 
    - **Regression** : Regression is basically predicting continous values. There is no categorical classification in this. Its prediction based on existing values.    
    - **Classification** : Its basically deciding a value based on a category. If there are 2 values, then its a binary classification. If there are more than 2 values then its a Multi-class classification

**Unsupervised Learning** : In Unsupervised Machine Learning you label the data. And the pattern is identified by the Machine Learning Algorithms. Now this algorithm or this learning will predict data based on what is already exists. 

**Transfer learning** : Its one machine learning model learning from another machine learning model. For this.. You use a model that has the knowledge previously in this case.  

**Reinforced Learning** : Keeping score points and updating as +1 or -1 on successfull and failed outcomes. This forms a reward and punishment based system to narrow down on a ideal output

## Types Of Data

The very basic types of Data are 
- Structured  - Comes in a structure like tables of rows and columns
- Unstructured Data - Could be random like a picture, or a video 

Both Structured and Unstructured datas have 
- Static Data  - Finite data | Does not changes with time 
- Streaming Data - Continual data | Changes over time

## Types of Evaluation

Classification

  - Accuracy 
  - Precision
  - Recall

Regression

  - Mean Absolute Error 
  - Mean Squared Error 
  - Root Mean Squared Error 

Recommendation

  - Mean Squares K

## Features in Machine Learning


Attributes of data which are used to decide on prediction are the features of the data. Features could be categorical or numerical.

- **Categorical**: Could be binary or Multi Category but its simply the classification of data into a certain goal 
- **Numerical** : Data is number based and could be easily used to bring out metrics of the data and even be used to predict number values
- **Derived** : You gain data by the use of 2 data. 

Feature Covered : Assuming that you take a big data sample, if the sample values are all the same then its an ideal sample. In a mixture of data

## Data Modelling

Steps to data modelling is ... 

1. Choosing and traning a model 
2. Tuning a model 
3. Model Comparision 

The concepts of Machine Learning includes. Helps in ensuring that the learning is correct!

-- Selection of Model -->
1. The Training -- post --> Tuning 
2. The validation 
3. The Test Sets --> Do Model Comparision

## Choosing a Model

- Labelled Data - Catboost and Random Forest!
- Unlabelled Data -  Deep learning and Transfer Learning

## Traning a Model 
- In Supervised Learning, use the feature variables to go ahead. Remember its important for the model to know input and output. 
- Minimize the time for training the model

### Summary 

- Some models work better than others n a different problems 
- Don't be afraid to try new things 
- Start small and build up (add complexity) as you need. 

You also need to tuning model so you get more better results!

## Tuning a model

- Tuning is basically improving the model to bring out best results 
- This tuning usually happens in a validation data set 
- This can also happen in a training data set 

### Summary

- Machine Learning models have hyperparameters you can adjust 
- A Models first results aren't its last 
- Tuning can take place on training or validation data sets

## Model Comparision

- Avoid over fitting and underfitting 
- Keep the test set seperate at all costs
- Compare Apples to Apples 
- One best performence metric does not equal best model

## Overfitting and Underfitting Definitions

Before we get into the experimentation side of things, it's worth having a little reminder of overfitting and underfitting are.

All experiments should be conducted on different portions of your data.

Training data set — Use this set for model training, 70–80% of your data is the standard.

Validation/development data set — Use this set for model hyperparameter tuning and experimentation evaluation, 10–15% of your data is the standard.

Test data set — Use this set for model testing and comparison, 10–15% of your data is the standard.

These amounts can fluctuate slightly, depending on your problem and the data you have.

Poor performance on training data means the model hasn’t learned properly and is underfitting. Try a different model, improve the existing one through hyperparameter or collect more data.

Great performance on the training data but poor performance on test data means your model doesn’t generalize well. Your model may be overfitting the training data. Try using a simpler model or making sure your the test data is of the same style your model is training on.

Another form of overfitting can come in the form of better performance on test data than training data. This may mean your testing data is leaking into your training data (incorrect data splits) or you've spent too much time optimizing your model for the test set data. Ensure your training and test datasets are kept separate at all times and avoid optimizing a models performance on the test set (use the training and validation sets for model improvement).

Poor performance once deployed (in the real world) means there’s a difference in what you trained and tested your model on and what is actually happening. Ensure the data you're using during experimentation matches up with the data you're using in production.

# Section - 6 Pandas!

- Only code and comments! :-)

In [1]:
# Series : 
import pandas as pd 
import matplotlib.pyplot as plt
import sklearn
import numpy as np

In [3]:
# Writing a series or creating a series 

colors = pd.Series(["Red","Green","Blue"])
colors

0      Red
1    Green
2     Blue
dtype: object

In [ ]:
# Data frame. 
# Series are 1 dimensional while data frames are 2 dimensional

Reading CSV files

In [6]:
path = r"/content/drive/MyDrive/ZTM_Folder/"
car_sales = pd.read_csv(path+"car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

Describing Data

In [7]:
# Reading data from URL
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [8]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [11]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [10]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [12]:
car_sales.mean()

<ipython-input-12-04f02239622f>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  car_sales.mean()

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [13]:
car_sales['Doors'].sum()

40

In [14]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [15]:
car_sales.tail()

     Make Colour  Odometer (KM)  Doors      Price
5  Toyota  Green          99213      4  $4,500.00
6   Honda   Blue          45698      4  $7,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

In [18]:
car_sales.loc[5]

Make                Toyota
Colour               Green
Odometer (KM)        99213
Doors                    4
Price            $4,500.00
Name: 5, dtype: object

In [19]:
car_sales['Make'].loc[5]

'Toyota'

In [20]:
car_sales.iloc[3]

Make                    BMW
Colour                Black
Odometer (KM)         11179
Doors                     5
Price            $22,000.00
Name: 3, dtype: object

In [22]:
car_sales['Make'].iloc[5]

'Toyota'